body { 
  margin:  0em 3em 0em 2em;
  padding: 0em;
  background-image: url('images/background.jpg');
  background-repeat: repeat-y; 
}

div.body {
  background-color: #eeeeee;
  border-color: black;
  border-style: solid;
  padding: 0em 1em 1em 1em;
}

div.copyright { 
  font-size: small;
  text-align: right;
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
}

div.menu
{ 
  text-align: center;
  width: 12em;
}

div.menu a:hover
{
  color: white;
  background-color: black;
  border-color: white;
}

div.menu a:visited
{
  color: #dcdcdc;
}

div.menu a.active
{
  background-color: #ffffff;
  color: black;
  border-color: black;
}

div.menu a
{
  text-decoration: none;
  font-size: 1.5em;
  font-family: Sans-Serif;
  font-weight: bold;
  text-align: center;

  color: #dcdcdc;
  background-color: #005500;

  border-color: black;
  border-style: solid;
  border-width: thin;

  text-align: center;
  padding: 2px 15px 2px 15px; 
  margin-bottom: .5em;
  display: block;
}

/* EOF */
